html {
  font-size: 16px;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.navbar-container {
  display: flex;
  justify-content: center;
}

.navbar-menu {
  background-color: #f4f2f2;
  width: 20%;
  height: 50px;
  position: relative;
  top: 1.5rem;
  border-radius: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
}

.navbar-tab {
  cursor: pointer;
  padding: 0.5rem 1.5rem;
}

.navbar-tab.active-tab {
  background-color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  transition-duration: 200ms;
}

.about-me-bio {
  display: flex;
  justify-content: center;
  margin-top: 13rem;
}

h1 {
  font-size: 4rem;
  width: 45%;
  text-align: center;
}

.filter-container {
  display: flex;
  justify-content: center;

  span {
    padding: 0 0.75rem;
  }
}