* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 10px; 
  font-family: prompt, sans-serif;
}
.navbar-container {
  background-color: #1a2456;
  position: fixed;
  top: 2rem;  
  left: 0;
  right: 0;
  color: rgb(230, 178, 178);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  padding: 0.25rem;  
  margin: 0 auto;
  z-index: 1000;
}
.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  font-size: 1.125rem;  
  margin-left: -2rem;  
  align-items: center;
}
.navbar-list li {
  margin: 0;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  letter-spacing: 3px;
}
.bi-bag {
  vertical-align: middle;
  display: inline-block;
}
.navbar-list li:hover {
  color: #ff8b68;
}
.currency-dropdown {
  position: relative;
  cursor: pointer;
}
.currency-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  position: absolute;
  background-color: white;
  border: 0.125rem solid #ccc; 
  z-index: 999;
  top: 100%; 
  right: 0;  
  width: 12rem;  
  color: #1a2456;
  text-align: left;
}
.currency-dropdown:hover .currency-list {
  display: block;
}
.currency-list li {
  padding: 0.5rem 1rem;  
  white-space: nowrap;
}
.currency-list li:hover {
  background-color: #1a2456;
  color: white;
}
.currency-dropdown span {
  font-size: 0.625rem;  
  margin-left: 0.25rem;  
  display: inline-block;
  vertical-align: middle;
}
/* .header-container {
  max-width: 100%;
  max-height: 100vh;
  
} */

.header-container .backdrop-image {
  width: 100%;
  max-width: 100%;
  height: 60rem;
  filter: brightness(0.4);
  transform: scaleY(1.3);
}

.header-container .header-headline {
  position: absolute;
  top: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ecc2b6;
  
}

.header-headline h1 {
 font-size: 3.75rem;
 letter-spacing: 4px;
}

.header-headline p {
  font-size: 1.75rem;
}

.header-container .downward-indicator {
  position: relative;
  color: white;
  left: 49%;
  bottom: 5%;
  transition: transform 0.5s ease-in;

}

.header-container .downward-indicator:hover {
  transform: scale(1.2);
}

main {
  background-color: #f0efed;
}

.grid-module-cards img {
  max-width: 33.5rem;
  height: 33.5rem;
}

.grid-module-cards {
  padding: 12rem;
  max-width: 100%;
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(3, 1fr);
}

.module-card-info .title {
  font-size: 1.75rem;
  font-weight: 600;
  letter-spacing: 0.25rem;
}
